
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cart</title>
    <link href="{% static 'styles/cart.css' %}" rel="stylesheet">
</head>
<body>
<header>

    <!-- Customer dashboard links (profile, cart, exit) on the right -->
    <div class="nav-links">
        <a href="{% url 'customer-profile' %}">Profile</a>
        <a href="{% url 'customer-cart' %}">Cart</a>
        <a href="{% url 'logout-page' %}">Exit</a>
    </div>
</header>
<!-- cart -->
<section class="cart">
    <h2>Your Cart</h2>
    <div id="cart-items-container">
        <!-- Cart items are loaded here. -->
    </div>
    <!-- back and order button -->
    <div id="buttons-container">
        <button id="back-button">back</button>
    </div>
</section>



<script src="{% static 'scripts/cart.js' %}"></script>
</body>
</html>