{% load static %}
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>customer dashboard</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="{% static 'styles/customer_dashboard.css' %}" rel="stylesheet">
</head>

<body>
<header>
    <!-- Shopping cart icon on the left -->
    <div class="cart-icon">
        <a href="{% url 'customer-cart' %}">
            <i class="fas fa-shopping-cart"></i>
            <span id="cart-count">0</span>
        </a>
    </div>

    <!-- Customer dashboard links (profile, cart, exit) on the right -->
    <div class="nav-links">
        <a href="{% url 'customer-profile' %}">profile</a>
        <a href="{% url 'customer-cart' %}">cart</a>
        <a href="{% url 'logout-page' %}">exit</a>
    </div>
</header>

<main>

    <section class="top-ten">
        <h2>top-selling</h2>
        <div id="top-ten-container">
            <!-- Best-selling foods are loaded here. -->
        </div>
    </section>



    <section class="food-list">
    <h2>foods list</h2>
        <section class="filters">
    <p>Filter by category:</p>
    <button class="filter-button" data-category="all">all</button>
    <button class="filter-button" data-category="ایرانی">Iranian food</button>
    <button class="filter-button" data-category="فست فود">Fastfood</button>
    <button class="filter-button" data-category="دسر">Dessert</button>
    <button class="filter-button" data-category="پیش غذا">Appetizer</button>
    <button class="filter-button" data-category="نوشیدنی">Drinks</button>
</section>
    <div id="food-list-container">
        <!-- Food lists are uploaded here. -->
    </div>

    <!-- Pagination controls -->
    <div id="pagination-container">
        <!-- Pagination buttons load here -->
    </div>
</section>

    <div id="cart-notification" class="notification" style="display: none;">
        <p>Your food has been added to your cart.</p>
    </div>
</main>

<script src="{% static 'scripts/customer_dashboard.js' %}"></script>
<script src="{% static 'scripts/cart.js' %}"></script>
</body>
</html>

