{% load static %}
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>order pre-view</title>
    <link href="{% static 'styles/order_preview.css' %}" rel="stylesheet">
</head>
<body>
    <div class="container">
    <h2>order preview</h2>

    <div class="address">
        <h3>selected address:</h3>
        <p id="address-title"></p>
        <p id="address-address"></p>
        <p id="address-details"></p>
    </div>

    <div class="items">
        <h3>order items:</h3>
        <div id="order-items">
            <!-- Order items are added here. -->
        </div>
    </div>

    <div class="total-price">
        <h3>total price:</h3>
        <p id="total-price"></p>
    </div>

    <div class="buttons">
        <button id="back-to-address">back to select address</button>
        <button id="submit-order">confirm order</button>
    </div>
</div>

 <script src="{% static 'scripts/order_preview.js' %}"></script>
</body>
</html>
