{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>rating</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'styles/rate_food.css' %}" rel="stylesheet">
</head>
<body>
    <h1>rating to foods</h1>

    <div id="order-items-container"></div>  <!-- Food items are added here. -->

    <div class="text-center mt-4">
        <button class="btn btn-secondary" id="back-button">back to previous page</button>
        <button class="btn " id="submit-rating-button">rate</button>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'scripts/rating_foods.js' %}"></script>
</body>
</html>
