{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'styles/admin_dashboard.css' %}" rel="stylesheet">
</head>
<body>
<div class="d-flex">
    <div class="sidebar">
        <h2>Admin Panel</h2>
        <a href="#" data-target="foodListSection">Food List</a>
        <a href="#" data-target="manageEmployeeSection">manage Employees</a>
        <a href="#" data-target="couponsSection">Coupons</a>
        <a href="#" data-target="revenueSection">Total Revenue</a>
        <a href="#" data-target="topFoodsSection">Top Selling Foods</a>

    </div>

    <div class="content container-fluid">
        <a href="{% url 'logout-page' %}" class="logout-btn">Logout</a>
        <h1>Welcome, Admin!</h1>

        <!-- Food List Section -->
        <div id="foodListSection" class="content-section" style="display: none;">
            <h2>Food List</h2>
            <button id="createFoodBtn" class="btn mb-3">Create Food</button>
            <div id="foodList" class="row">
                <!-- Food cards will be dynamically inserted here -->
            </div>
            <!-- Pagination -->
            <div id="pagination" class="mt-3 text-center">
                <!-- Pagination buttons appear here. -->
            </div>
        </div>

        <!-- Create/Edit Food Section -->
        <div id="foodFormSection" class="content-section" style="display: none;">
            <h2 id="foodFormTitle">Create Food</h2>
            <form id="foodForm" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="name" class="form-label">Food Name</label>
                    <input type="text" id="name" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Food Image</label>
                    <input type="file" id="image" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="category" class="form-label">Category</label>
                    <select id="category" class="form-control" required>
                        <option value="ایرانی">Iranian food</option>
                        <option value="فست فود">FastFood</option>
                        <option value="دسر">Dessert</option>
                        <option value="پیش غذا">Appetizer</option>
                        <option value="نوشیدنی">Drinks</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="code" class="form-label">Code</label>
                    <input type="text" id="code" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Price</label>
                    <input type="number" id="price" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea id="description" class="form-control" required></textarea>
                </div>
                <button type="submit" class="btn btn-save">Save</button>
                <button type="button" id="cancelFoodForm" class="btn btn-secondary">Cancel</button>
            </form>
        </div>

        <!-- Info Food Section -->
        <div id="foodInfoSection" class="content-section" style="display: none;">
            <h2>Food Info</h2>
            <p id="foodDetails"></p>
            <button id="backToManageFoods" class="btn btn-secondary">Back</button>
        </div>


        <!-- Main Manage Employee Section -->
        <div id="manageEmployeeSection" class="content-section " style="display: none;">
            <h2>Manage Employees</h2>
            <button id="createEmployeeBtn" class="btn mb-3">Create Employee</button>

            <div id="employeeList" class="list-group">
                <!-- The list of employees is dynamically inserted here. -->
            </div>
        </div>

        <!-- Create/Edit Employee Section -->
        <div id="employeeFormSection" class="content-section " style="display: none;">
            <h2 id="employeeFormTitle">Create Employee</h2>
            <form id="employeeForm">
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" id="username" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" id="password" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="password-repeat" class="form-label">Repeat Password</label>
                    <input type="password" id="password-repeat" class="form-control" required>
                </div>
                <div class="mb-3">
                    <div id="passwordError" style="color: red; display: none;"></div>
                </div>

                <div class="mb-3">
                    <label for="firstName" class="form-label">First Name</label>
                    <input type="text" id="firstName" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="lastName" class="form-label">Last Name</label>
                    <input type="text" id="lastName" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" id="email" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="phoneNumber" class="form-label">Phone Number</label>
                    <input type="text" id="phoneNumber" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-save">Save</button>
                <button type="button" id="cancelEmployeeForm" class="btn btn-secondary">Cancel</button>
            </form>
        </div>

        <!-- Info Employee Section -->
        <div id="employeeInfoSection" class="content-section" style="display: none;">
            <h2>Employee Info</h2>
            <p id="employeeDetails"></p>
            <button id="backToManageEmployees" class="btn btn-secondary">Back</button>
        </div>


        <!-- Coupons Section -->
        <div id="couponsSection" class="content-section " style="display: none;">
            <h2>Manage Coupons</h2>
            <button id="createCouponBtn" class="btn mb-3">Create Coupon</button>

            <div id="couponList" class="list-group">
                <!-- The list of coupon codes is dynamically inserted here. -->
            </div>
        </div>

        <!-- Create/Edit coupon Section -->
        <div id="couponFormSection" class="content-section " style="display: none;">
            <h2 id="couponFormTitle">Create Coupon</h2>
            <form id="couponForm">
                <!-- Coupon Code -->
                <div class="mb-3">
                    <label for="coupon-code" class="form-label">Coupon Code</label>
                    <input type="text" class="form-control" id="coupon-code" required>
                </div>

                <!-- Discount Percentage -->
                <div class="mb-3">
                    <label for="discount" class="form-label">Discount Percentage</label>
                    <input type="number" class="form-control" id="discount" min="0" max="100" required>
                </div>

                <!-- Expiration Date -->
                <div class="mb-3">
                    <label for="expiration_date" class="form-label">Expiration Date</label>
                    <input type="date" class="form-control" id="expiration_date" required>
                </div>
                <button type="submit" class="btn btn-save">Save</button>
                <button type="button" id="cancelCouponForm" class="btn btn-secondary">Cancel</button>
            </form>
        </div>

        <!-- Info Coupon Section -->
        <div id="couponInfoSection" class="content-section" style="display: none;">
            <h2>Coupon Info</h2>
            <p id="couponDetails"></p>
            <button id="backToManageCoupons" class="btn btn-secondary">Back</button>
        </div>


        <!-- Revenue Section -->
        <div id="revenueSection" class="content-section" style="display: none;">
            <h2>Total Revenue</h2>
            <div class="mb-3">
                <label for="startDate" class="form-label">Start Date:</label>
                <input type="date" id="startDate" class="form-control">
            </div>
            <div class="mb-3">
                <label for="endDate" class="form-label">End Date:</label>
                <input type="date" id="endDate" class="form-control">
            </div>
            <button id="calculateRevenue" class="btn">Calculate Revenue</button>
            <p id="revenueResult" class="mt-3"></p>
        </div>

        <!-- Top Selling Foods Section -->
        <div id="topFoodsSection" class="content-section" style="display: none;">
            <h2>Top Selling Foods</h2>
            <div id="TopFoodList" class="row">
                <!-- Top selling food cards will be dynamically inserted here -->
            </div>
        </div>


    </div>
</div>

<script src="{% static 'scripts/tabManager.js' %}"></script>
<script src="{% static 'scripts/admin_dashboard.js' %}"></script>
<script src="{% static 'scripts/foods.js' %}"></script>
<script src="{% static 'scripts/employee_management.js' %}"></script>
<script src="{% static 'scripts/coupons.js' %}"></script>
<script src="{% static 'scripts/revenue.js' %}"></script>
<script src="{% static 'scripts/top_selling_foods.js' %}"></script>
</body>
</html>
