body {
    font-family: Arial, sans-serif;
}

.sidebar {
    height: 100vh;
    /*background-color: #343a40;*/
    color: white;
    padding: 20px;
    position: fixed;
    width: 200px;
    background: rgb(251,229,63);
    background: radial-gradient(circle, rgba(251,229,63,1) 0%, rgba(252,70,70,1) 100%);
}

.sidebar a {
    color: white;
    text-decoration: none;
    display: block;
    margin: 10px 0;
    text-shadow: 2px 2px 2px black;
}


.content {
    margin-left: 220px;
    padding: 20px;
}


.card.food-card {
    margin-bottom: 20px;
}

.food-card img {
    height: 200px;
    object-fit: cover;
}

.logout-btn {
    position: fixed;
    top: 20px; /* فاصله از بالای صفحه */
    right: 20px; /* فاصله از راست صفحه */
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.logout-btn:hover {
    background-color: #e2e6ea;
}

#createFoodBtn{
    background-color: #b34a27;
    color: white;
}

.infobtn{
    background-color: #b34a27;
    color: white;
}
.btn-next{
    background-color: #e35424;
    color: white;
}
.btn-prev{
    background-color: #e35424;
    color: white;
}
#createEmployeeBtn{
    background-color: #b34a27;
    color: white;
}
#createCouponBtn{
    background-color: #b34a27;
    color: white;
}
#calculateRevenue{
    background-color: #b34a27;
    color: white;
}

.btn-save{
    background-color: #b34a27;
    color: white;
}
